.navbar{
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.leftnavmenu{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.trending{
    margin-bottom: 10px;
}
.trending>button{
    background-color: #efefef;
}